<ion-view title="Dashboard" ng-controller="DashboardController">

	<ion-content class="has-header">
		<div class="card">
			<div class="item item-divider">
    			Total Tajneed
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#">
  				<i class="icon ion-ios-people"></i>
    			{{totalTajneed}}
    			<i class="icon ion-ios-arrow-right"></i>
  			</a>
		</div>
		<div class="card">
			<div class="item item-divider">
    			Khuddam Budget
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#">
  				<i class="icon ion-cash"></i>
    			{{totalTajneed}}
    			<i class="icon ion-ios-arrow-right"></i>
  			</a>
		</div>
		<div class="card">
			<div class="item item-divider">
    			Ansar Budget
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#">
  				<i class="icon ion-cash"></i>
    			{{totalTajneed}}
    			<i class="icon ion-ios-arrow-right"></i>
  			</a>
		</div>
		<div class="card">
			<div class="item item-divider">
    			Tahreek e Jadid
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#">
  				<i class="icon ion-social-usd"></i>
    			{{totalTajneed}}
    			<i class="icon ion-ios-arrow-right"></i>
  			</a>
		</div>
		<div class="card">
			<div class="item item-divider">
    			Waqf e Jadid
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#">
  				<i class="icon ion-social-usd"></i>
    			{{totalTajneed}}
    			<i class="icon ion-ios-arrow-right"></i>
  			</a>
		</div>
	</ion-content>
</ion-view>