<ion-view title="Tajneed Detail">
	<ion-content class="has-header">
	<div class="tabs tabs-icon-top">
	    <div class="tabs">
	      <a class="tab-item active" ui-sref="app.tajneed-detail-general">
	        <i class="icon ion-ios-body"></i>
	        General
	      </a>
	      <a class="tab-item" ui-sref="app.tajneed-detail-general">
	        <i class="icon ion-social-usd-outline"></i>
	        Income
	      </a>
	      <a class="tab-item" ui-sref="app.tajneed-detail-general">
	        <i class="icon ion-ios-pricetags-outline"></i>
	        Chandas
	      </a>
	      <a class="tab-item" ui-sref="app.tajneed-detail-general">
	        <i class="icon ion-card"></i>
	        Card
	      </a>
	    </div>
	  </div>
	</ion-content>
</ion-view>