<ion-view title="Tajneed Search" ng-controller="TajneedController">
	<ion-content class="has-header">
	
		<div class="list">
			<form id="frm" name="frm" ng-submit="searchTajneed()">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">First Name</span>
			    <input type="text" id="tFirstName" >
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Father Name</span>
			    <input type="text" id="tFatherName" >
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Husband Name</span>
			    <input type="text" id="tHusbandName" >
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Mobile</span>
			    <input type="text" id="tMobile" >
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Wassiyat No</span>
			    <input type="text" id="tWassiyatNo" >
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Resident No</span>
			    <input type="text" id="tResidentNo" >
			  </label>
			  <button type="submit" class="button button-block button-positive">Search</button>
		  </form>
		</div>
	</ion-content>
</ion-view>